@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: #222435;
    font-family: 'Poppins', sans-serif;
}

*:focus{
    outline: none;
}

h1{
    color: #7d83b9;
    text-align: center;
    font-weight: 700;
}

form{
    display: flex;
    position: relative;
    width: 600px;
    height: 60px;
    margin: 30px auto;
    margin-bottom: 60px;
}

input{
    display: flex;
    width: 100%;
    height: 60px;
    background: #2d3046;
    border: none;
    padding-left: 30px;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
}

button.add{
    position: absolute;
    top: 0;
    right: 0;
    background: #363b65;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 25px;
    height: 60px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button.add:hover{
    color: #fff;
    background: #363f88;
}

.listaTarefas{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 600px;
    margin: auto;
}

.item{
    display: flex;
    justify-content: space-between;
    border: 1px solid #363b65;
    margin-bottom: 10px;
    cursor: pointer;
}

.item span{
    width: 100%;
    color: #fff;
    margin-right: 10px;
    padding: 10px 15px;
}

.item:hover{
    background: #151627;
}

.item.completo{
    display: flex;
    justify-content: space-between;
    background: #1e1f2e;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0.4;
}

.item.completo span{
    width: 100%;
    color: #4d506e;
    margin-right: 10px;
    padding: 10px 15px;
    text-decoration: line-through;
}

button.del{
    border: none;
    background: none;
    color: #4d506e;
    padding: 15px;
    cursor: pointer;
}

button.del:hover{
    border: none;
    background: #ff004c;
    color: #fff;
    padding: 15px;
    cursor: pointer;
}

button.deleteAll{
    border: 1px solid #ff004c;
    background: none;
    padding: 15px;
    color: #ff004c;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

button.deleteAll:hover{
    background: #ff004c;
    color: #fff;
}

@media screen and (max-width: 900px){
    form{
        width: 100%;
    }
    .listaTarefas{
        width: 100%;
    }
}